.header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    align-items: center;
    padding: 15px 15px;
    height: 8vh;
    width: 100vw;
    box-sizing: border-box;
}

.logo {
    color: white;
    font-size: 30px;
    margin-left: 20px;
}

.nav ul {
    display: flex;
}

.nav li {
    margin-left: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: white;
}
